/*
--- 01 - Typography system

Montserrat thin and regular for main font 
Merriweather
Great vibes for cursive name #1

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS:
light: 300
Medium: 400
Semi-bold: 600
Bold: 700

- LINE HEIGHTS:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter Spacing
-0.5px
0.75px

--- 02 Colors
https://maketintsandshades.com/
https://coolors.co

Light: #fffbe6
#4b1723
#6f454f

*/

/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1 rem will equal 10px instead of the default 16px*/
    /* 10px / 16px = 0.625 = 62.5% and is percentage of users browser font-size setting */
    overflow-x: hidden;
    
    /* Does not work on Safari */
    /* scroll-behavior: smooth; */
}

body {
    font-family: "Merriweather", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #ddd;
    overflow-x: hidden;
    
}